

<div class="fila" *ngFor="let alumno of alumnos">
	
		<div class="nombre">  <b>Nombre: </b>{{alumno.nombre}} </div>
   <div class="matricula"> <b>Matricula:</b> {{alumno.matricula}}</div>
   <div class="carrera"> <b>Carrera:</b>{{alumno.carrera}}</div>
   <div class="boton" > <button class="btn btn-primary" (click)="detalle(alumno.matricula)">detalle</button></div>
 
</div>

<hr>
<div class="carga-alumno">
	<label>{{modeloNombre}}</label>
	<div>
		<input type = "text" [(ngModel)]="modeloNombre" placeholder ="ingresa el nombre" class="form-control"/>
	</div>
	<label>{{modeloMatricula}}</label>
	<div>
		<input type = "text" [(ngModel)]="modeloMatricula" placeholder ="ingresa el Matricula" class="form-control"/>
	</div>
	<label>{{modeloCarrera}}</label>
	<div>
		<input type = "text" [(ngModel)]="modeloCarrera" placeholder ="ingresa el carrera" class="form-control"/>
	</div>
	<button (click)="crearAlumno()" class="btn btn-primary">crear</button>
</div>





