<li *ngFor="let alumno of alumnos">
	<div class="alumno">
	<span> <b>Nombre: </b>{{alumno.nombre}} </span>
   <span> <b>Matricula:</b> {{alumno.matricula}}</span>
   <span> <b>Carrera:</b>{{alumno.carrera}}</span>
   <span> <button class="btn btn-primary" (click)="detalle(alumno.matricula)">detalle</button></span>
 </div>
</li>

<hr>
<div class="carga-alumno">
	<label>{{modeloNombre}}</label>
	<div>
		<input type = "text" [(ngModel)]="modeloNombre" placeholder ="ingresa el nombre" class="form-control"/>
	</div>
	<label>{{modeloMatricula}}</label>
	<div>
		<input type = "text" [(ngModel)]="modeloMatricula" placeholder ="ingresa el Matricula" class="form-control"/>
	</div>
	<label>{{modeloCarrera}}</label>
	<div>
		<input type = "text" [(ngModel)]="modeloCarrera" placeholder ="ingresa el carrera" class="form-control"/>
	</div>
	<button (click)="crearAlumno()" class="btn btn-primary">crear</button>
</div>





